/* css styles */

figure {
    display: inline-block;
    border: 1px dotted;
    padding: 2rem;
}
figure img {
    vertical-align: top;
    max-width: 500px;
}
figure figcaption {
    text-align: left;
}


/* Make top-level sidebar section headings more prominent */
.sidebar-item-section > .sidebar-item-container > .sidebar-item-text,
.sidebar-item-section > .sidebar-item-text {
  font-size: 1.1rem;
  padding: 0.5rem 0;
  
}
/* Increase font size of sub-items under sections */
#quarto-sidebar .sidebar-section .sidebar-item-text,
#quarto-sidebar .sidebar-section .nav-link {
  font-size: 1.1rem; /* Change this value to adjust size */
  padding: 0.5rem 0;
}

